# These are third party modules. qmltermwidget and ChartJs2QML are forks.
[submodule "third_party/qmltermwidget"]
	path = third_party/qmltermwidget
	url = https://github.com/kalaksi/qmltermwidget.git
	branch = lightkeeper
[submodule "third_party/ChartJs2QML"]
	path = third_party/ChartJs2QML
	url = https://github.com/kalaksi/ChartJs2QML.git
[submodule "third_party/qml-lighthouse-components"]
	path = third_party/qml-lighthouse-components
	url = https://github.com/kalaksi/qml-lighthouse-components.git
